


#section {
	background-color: white;
	margin-right: 350px;
	margin-left: 46px;
	width: 650px;
	font-family: arial;
	border: solid;
	border-color: #dddddd;
	margin-top: 20px;

}


#section2 {


}


h2 {
	color: grey;
	margin-left: 50px;
	font-family: georgia;

}

hr {
	width: 85%;
	color: grey;
	



}

#hr2 {
	color: grey;
}


p { 
	line-height: 140%;
	color: grey;
}


#page1 {
	background-image: url('../images/cork-wallet.png');
	font-family: arial;
	width: 960px;
	
	 
}


#page2 {
	background-image: url('../images/cork-wallet.png');
	width: 960px;
	

}

header {
	margin-left:50px;
	color:white;
	background-color: #4aaaa5;
	padding: 30px;
	width: 17%;
	margin-top:-20px;
	text-align: center;
	font-family: Georgia;

	
}

#info {
	
	float: right;
	margin-right: 40px;
	margin-top: -50px;
	color: grey;
	font-family: georgia;
	
}

#header {
	background-color: white;
	width: 960px;
	border: #cccccc; 

}

#connect {
	float: right;
	margin-top: 24px;
	margin-right: 35px;
	background-color: white;
	padding: 20px;
	text-align: center;
	font-family: georgia;
	color: grey;


}

#connect2 {
	float: right;
	margin-right: 35px;
	margin-top: 24px;
	background-color: white;
	padding: 20px;
	text-align: center;
	font-family: georgia;
	color: grey;
}


.contact {
	float: left;
	background-color: white;
	width: 650px;
	margin-top: 23px;
	margin-left: 50px;
	font-family: georgia;
	height: 400px; 


}


#search1 {
	padding: 1px;
	margin-left: 50px;
}

.typename {
	width: 500px;
	height:20px;
	margin-left:50px;
}

#search2 {
	padding: 1px;
	margin-left: 50px;
}


.typeemail {
	width: 500px;
	height: 20px;
	margin-left:50px;
}

#search3 {
	padding: 1px;
	margin-left: 50px;
}

.typemessage {
	height: 100px;
	width:500px;
	margin-left:50px;
}
 #submitbutton {
 	padding: 3px;
 	margin-left: 45px;
 }


footer {
	background-color: #666666;
	text-align: center;
	position: absolute;
	bottom: 0;
	padding: 20px;
	width: 960px;
	color: white;
}


