


#section {
	background-color: white;
	margin-right: 350px;
	margin-left: 46px;
	width: 650px;
	font-family: arial;
	border: solid;
	border-color: #dddddd;
	margin-top: 20px;

}



h2 {
	color: grey;
	margin-left: 50px;

}

hr {
	width: 85%;
	color: grey;
	



}

#hr2 {
	color: grey;
}


p { 
	line-height: 140%;
	color: grey;
}


body {
	background-image: url('../images/cork-wallet.png');
	font-family: arial;
	width: 960px;
	
	 
}

header {
	margin-left:50px;
	color:white;
	background-color: #4aaaa5;
	padding: 30px;
	width: 17%;
	margin-top:-20px;
	text-align: center;
	font-family: Georgia;

	
}

#info {
	
	float: right;
	margin-right: 40px;
	margin-top: -50px;
	color: grey;
	font-family: georgia;
	
}

#header {
	background-color: white;
	width: 960px;
	border: #cccccc; 

}

#connect {
	float: right;
	margin-top: -390px;
	margin-right: 35px;
	background-color: white;
	padding: 20px;
	text-align: center;
	font-family: georgia;
	color: grey;


	


}


footer {
	background-color: #666666;
	text-align: center;
	position: absolute;
	bottom: 0;
	padding: 20px;
	width: 960px;
	color: white;
}


